.app {
  padding-top: 12px;
}

.app__container {
  margin-bottom: 20px;
}

.app__container--shrunk {
  margin-right: 20px;
  margin-left: 20px;
}

.app__container--pushing {
  margin-bottom: 35px;
}

.app__nav-container {
  position: fixed;
  top: 10vh;
  right: 0;
  left: 100px;
  z-index: 10;

  display: none;
  flex-flow: column;
  height: 90vh;
  padding-top: 30px;

  background: #fbfbfb;
}

.app__nav {
  margin-bottom: auto;
}

.app__heading {
  margin: 0;
}

.app__select {
  margin-left: auto;
}
