.app {
  padding-top: 12px;
}

.app__container {
  margin-bottom: 20px;
}

.app__container--shrunk {
  margin-right: 20px;
  margin-left: 20px;
}

.app__container--margin-extended {
  margin-bottom: 35px;
}

.app__container--margin-reduced {
  margin-bottom: 15px;
}

.app__nav-container {
  position: fixed;
  top: 0;
  right: calc(var(--width) * -1);
  z-index: 10;

  display: flex;
  flex-flow: column;
  width: var(--width);
  height: 100vh;
  padding-top: 30px;

  background: #fbfbfb;

  transition: right 0.25s ease-out;

  --width: 250px;
}

.app__nav-container--open {
  right: 0;
}

.app__select {
  margin-left: auto;
}

.app__main {
  transition: filter 0.25s 0.15s ease-in-out;
}

.app__main--blurred {
  filter: blur(3px);
}
