.auxilary-nav {
  align-items: flex-end;
  margin: 0;
  padding: 0;

  font: 13px Arial, sans-serif;

  list-style: none;
}

.auxilary-nav__link {
  padding: 10px;

  color: #858585;
  text-decoration: none;
}
