/* Styles responsible for App basic structure and UI elements positioning */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app__container {
  margin: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.header__menu-toggle {
  margin-left: auto;
}
