.indicator-inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.indicator__temperature {
  margin: 0;

  color: #000;
  font-weight: bold;
  font-size: 24px;
}

.indicator__weather {
  width: 18px;
  height: 24px;
}
