.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav__link {
  padding: 20px 10px;

  color: #878787;
  font: bold 16px Arial, sans-serif;
  text-decoration: none;
}

.nav__link:hover {
  color: #333;
}

.nav__link--active {
  color: #333;
}
