.toggler {
  width: 24px;
  height: 24px;
  padding: 0;

  font: 16px Arial, sans-serif;

  /* Link-only  */
  text-decoration: none;

  /* Button-only */
  background: url('/assets/images/icons/icon-hamburger.svg') no-repeat center;
  background-size: 16px 13px;
  border: none;
}

@media (min-width: 560px) {
  .toggler\@md {
    display: none;
  }
}
