.app {
  padding-top: 12px;
}

.app__container {
  margin-bottom: 20px;
}

.app__container--shrunk {
  margin-right: 20px;
  margin-left: 20px;
}

.app__container--margin-extended {
  margin-bottom: 35px;
}

.app__container--margin-reduced {
  margin-bottom: 15px;
}

.app__select {
  margin-left: auto;
}

.app__main {
  transition: filter 0.25s 0.15s ease-in-out;
}

.app__main--blurred {
  filter: blur(3px);
}
