.custom-select__select {
  position: relative;

  display: flex;
  align-items: flex-end;
  padding: 8px 16px;

  font: bold 13px Arial, sans-serif;

  background: #ffd93e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.custom-select__select::after {
  display: block;
  width: 14px;
  height: 13px;
  margin-left: 2px; /* Text starts from margin-left=-3px arrow's position */

  background: url('../images/icons/icon-arrow-down.svg');
  transform: scale(0.75);

  transition: all 0.25s 0s ease-out;
  content: ' ';
}

.custom-select__select--active::after {
  transform: scale(0.75) rotateZ(180deg);
}

.custom-select__options-container {
  align-items: center;
}

.custom-select__options {
  width: 300px;

  list-style: none;
  background: #f7f7f7;
}

.custom-select__option {
  padding: 20px 0;

  font: 16px Arial, sans-serif;
  text-align: center;

  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;

  transition: all 0.15s 0s ease-in-out;
}

.custom-select__option:hover {
  background: #ffd93e;
}

.custom-select__option--active {
  background: #ffd93e;
}

.custom-select__option:last-of-type {
  border-bottom: none;
}
