.nav-container {
  --width: 250px;

  position: fixed;
  top: 0;
  right: calc(var(--width) * -1);
  z-index: 10;

  display: flex;
  flex-flow: column;
  width: var(--width);
  height: 100vh;
  padding-top: 30px;

  background: #fbfbfb;

  transition: right 0.25s ease-out;
}

.nav-container--open {
  right: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  list-style: none;
}

.nav--auxilary {
  align-items: flex-end;
}

.nav__link {
  display: block;
  padding: 20px 10px;

  color: #878787;
  font: bold 16px Arial, sans-serif;
  text-decoration: none;
}

.nav__link:hover {
  color: #333;
}

.nav__link--active {
  color: #333;
}

.nav--auxilary .nav__link {
  padding: 10px;

  color: #858585;
  font: normal 13px Arial, sans-serif;
  text-decoration: none;
}

.nav__item {
  margin: 0 0 5px 0;
}

.nav__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 560px) {
  .nav-container\@md {
    --width: auto;

    position: static;

    height: auto;
    padding-top: 0;

    background: transparent;
  }

  .nav-container\@md .nav {
    flex-direction: row;
  }

  .nav-container\@md .nav--auxilary {
    display: none;
  }

  .nav-container\@md .nav__link {
    margin-right: 25px;
    padding: 10px 0;
  }
}
